body {
  width: 35em;
  margin: 4em auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

header {
  flex: 1 1 60%;
  align-content: space-evenly;
}

.image {
  flex: 1 1 30%;
  max-width: 192px;
  max-height: 192px;
  order: 0;
  border-radius: 50%;
}

section {
  margin-top: 8px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  a {
    text-decoration: none;
    margin: .5em;
  }
}

/* icons */
.icon {
  height: 32px;
  width: 32px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 4em;
    width: auto;
  }

  .container {
    flex-direction: column;
  }

  .image {
    flex-basis: 100%;
    order: -1;
  }
}
