#root {
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex: 0 0 75%;
}

.title h1 {
  margin: 0;
  text-transform: uppercase;
}

.title p {
  margin: 0;
}

.photo {
  flex: 0 0 128px;
  width: 128px;
  border-radius: 50%;
}


@media only screen and (max-width: 600px) {
  .photo {
    flex-basis: 100%;
  }

  header {
    flex-direction: column;
  }

  .title {
    margin: 1.5rem;
  }
}

.tech {
  text-transform: capitalize;
  font-style: italic;
}

.tech-list span {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  margin: 0.2rem;
  border-radius: 1rem;
  background-color: var(--fg-color);
  color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  .tech-list span {
    background-color: var(--dark-fg-color);
    color: var(--dark-bg-color);
  }
}

footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
  width: 100%;
  position: sticky;
  bottom: 0;
}

@media (prefers-color-scheme: dark) {
  .footer {
    color: var(--dark-fg-color);
  }
}

@media print {
  footer {
    display: none;
  }
}


.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
    margin: .5em;
  }

  .icon {
    height: 32px;
    width: 32px;
  }
}

@media print {
  .social {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .social img {
    filter: invert(1);
  }
}