body {
  width: 35em;
  margin: 4em auto;
  font-family: Tahoma, Verdana, Arial, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

header {
  flex: 1;
  align-content: center;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

.image {
  flex: 0 0 30%;
  max-width: 30%;
  max-height: 30%;
  order: 0;
  border-radius: 50%;
}

section {
  margin-top: 8px;
}


@media only screen and (max-width: 600px) {
  body {
    margin: 4em;
    width: auto;
  }

  .container {
    flex-direction: column;
  }

  .image {
    flex-basis: 100%;
    order: -1;
  }
}